<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<absolute-ordering/>
	<servlet>
		<servlet-name>dad-frontcontroller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>ContextConfigLocation</param-name>
			<param-value>/WEB-INF/beans-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dad-frontcontroller</servlet-name>
		<url-pattern>/home.com/*</url-pattern>
	</servlet-mapping>
</web-app>


